.history/
options.txt
mpv_temp.txt
mpv_options.txt
mpv_docs.txt
mpv_options2.txt
help.txt
scripts/test_osd.lua
mpv_log.txt
scripts_autopause_old_utf8.lua
scripts_autopause_old.lua
20260304233334-you-dont-need-saas.ass
temp-ass-check-utf8.txt
temp-ass-check.txt
temp-ass2.txt
